{% extends 'base_form.html' %} {% block base_form %}
<div class="container-fluid">
  <div
    class="row h-100 align-items-center justify-content-center"
    style="min-height: 100vh"
  >
    <div class="col-5">
      <div class="bg-secondary rounded p-5 p-sm-5 my-4 mx-1">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <a href="index.html" class="">
            <h3 class="text-primary">
              <i class="fa fa-user-edit me-2"></i>GestionC
            </h3>
          </a>
          <h3></h3>
        </div>

        <form action="add_contact" method="post">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingFirstName"
              placeholder="John"
              name="name"
            />
            <label for="floatingFirstName">Prenom</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingLastName"
              placeholder="Doe"
              name="last_name"
            />
            <label for="floatingLastName">Nom</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingEmail"
              placeholder="name@example.com"
              name="email"
            />
            <label for="floatingEmail">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingPhone"
              placeholder="1234567890"
              name="phone"
            />
            <label for="floatingPhone">Phone number</label>
          </div>
          <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Widgets End -->
{% endblock %}
